<header>
  
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <img id="logo" src="../../assets/flower-logo.jpg" class="img-fluid" alt="Responsive image">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <p>Flores A&N</p>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <p-button class="btnMenu" label="Inicio" routerLink="/home"></p-button>
        <p-button class="btnMenu" label="Tienda" routerLink="/flower-list"></p-button>
        <p-button class="btnMenu" label="Conócenos" routerLink="/contact-create"></p-button>
      </ul>
    </div>
    <div *ngIf="!this.isLoged()">
      <p-button id="iSesionBtn" label="Iniciar sesión" routerLink="/login"><i class="pi pi-sign-in"></i></p-button>
    </div>
    <div *ngIf="this.isLoged()">
      <div>
        <h3>Hola, {{getUserName()}}</h3>
      </div>
      <div>
        <p-button  id="cartBtn" label="Mi cesta" routerLink="/cart"><i class="pi pi-cart-plus"></i></p-button>
        <p-button  id="cSesionBtn" label="Cerrar sesión" (click)="logout()"><i class="pi pi-sign-out"></i></p-button>
      </div>
    </div>
    
  </nav>
  <br><br>
</header>

  